/* No Style List */
ul {
  list-style: none; }

.no-list-style li,
.plain-list li,
.page-nav li,
.side-nav li,
.tabs-nav li,
.tabs-slide li,
.ui-tabs li,
#dock li,
#dock-menu li,
.footer-shortcuts li,
.foot-nav li,
.portlet-wiki li,
.portlet-message-boards li,
.knowledge-base-portlet-admin li,
.knowledge-base-portlet-aggregator li,
.knowledge-base-portlet-display li,
.knowledge-base-portlet-search li,
.commands-container li,
.user-commands li {
  background: none; }

/* Arrow List */
.circle-list li,
li {
  background: url(../images/custom/li_circle.png) no-repeat left 0.4em; }

.arrow-list li,
li li {
  background: url(../images/custom/li_arrow.png) no-repeat left 0.5em; }

/* Circle List */
.big-circle-list li,
.important-list li {
  background: url(../images/custom/li_big-circle.png) no-repeat left 0.2em; }

/* Default list */
.wiki-body ul {
  list-style: disc inside; }

