/* Gradient */
.gradient,
.tabs-nav ul,
.ui-tabs,
.search,
.tabs-slide,
.thread-tree a:hover,
.thread-tree a.selected {
  background-image: -moz-linear-gradient(#dddddd, #f0f0f0);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #dddddd), color-stop(1, #f0f0f0));
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#DDDDDD', EndColorStr='#F0F0F0'); }

.page-nav ul {
  background-image: -moz-linear-gradient(#57595a, #404445);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #57595a), color-stop(1, #404445));
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#57595A', EndColorStr='#404445'); }

/* Border Radius */
.rounded,
.callout,
.callout-shadowed,
.callout-shadowed-lite,
.callout-heading,
.callout-image,
.callout-image-simple,
.callout-cell-only,
.callout-cell-main,
.callout-report,
.aside-heading,
.page-nav ul,
.tabs-nav ul,
.ui-tabs,
.tabs-slide,
.search,
.banner-nav,
.banner-nav .menu,
.banner-nav a,
.portlet-blogs .user-img,
.portlet-blogs-aggregator .user-img,
.thread-tree a:hover,
.thread-tree a.selected,
.portlet-wiki .toc,
input,
textarea {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px; }

.rounded-bottom,
.callout-base,
.partner-banner .heading-title,
.partner-banner .heading-image-solo,
.story-banner .heading-title,
.portlet-message-boards .figure {
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px; }

.rounded-top,
.partner-banner .heading-image,
.story-banner .heading-image,
.portlet-message-boards .figure-heading {
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px; }

.rounded-left,
.callout-cell-first,
.first .landing {
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-topleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-top-left-radius: 5px; }

.rounded-right,
.callout-cell-last,
.last .landing {
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-top-right-radius: 5px; }

.rounded-top-left {
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px; }

.rounded-top-right {
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px; }

/* Box Shadow */
.shadowed,
.callout-shadowed,
.callout-heading,
.callout-image,
.aside-heading,
.banner-nav,
.page-nav ul,
.tabs-nav ul,
.ui-tabs,
.tabs-slide,
.search,
.btn,
.thread-tree a:hover,
.thread-tree a.selected {
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.7); }

.ie6 .callout-shadowed,
.ie7 .callout-shadowed,
.ie8 .callout-shadowed {
  border: 1px solid #CCC; }

.shadowed-lite,
.callout-shadowed-lite {
  -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.35); }

